 .u-section-1 {
  min-height: 66px;
}

.u-section-1 .u-sheet-1 {
  min-height: 655px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 655px;
  background-image: url("https://www.kinokuniya.co.jp/images/goods/ar2/web/imgdata2/large/41010/4101010137.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 655px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-1 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 31px auto 0;
  padding: 10px;
}

.u-section-1 .u-text-2 {
  margin: 19px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 318px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 540px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 66px;
  }

  .u-section-1 .u-image-1 {
    min-height: 414px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    min-height: 621px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    min-height: 391px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  min-height: 318px;
}

.u-section-2 .u-sheet-1 {
  min-height: 867px;
}

.u-section-2 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  min-height: 847px;
  grid-auto-columns: 33.3333%;
  grid-template-columns: repeat(3, 33.3333%);
  grid-gap: 0px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 10px 5px;
}

.u-section-2 .u-image-1 {
  height: 360px;
  left: auto;
  top: 0;
  width: 360px;
  margin-top: 0;
  right: auto;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 85px auto 0;
}

.u-section-2 .u-list-item-2 {
  animation-timing-function: ease;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 10px 5px;
}

.u-section-2 .u-image-2 {
  height: 360px;
  left: auto;
  top: 0;
  width: 360px;
  margin-top: 0;
  right: auto;
}

.u-section-2 .u-text-2 {
  font-size: 3.75rem;
  margin: 85px auto 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 10px 5px;
}

.u-section-2 .u-image-3 {
  height: 360px;
  left: auto;
  top: 0;
  width: 360px;
  margin-top: 0;
  right: auto;
}

.u-section-2 .u-text-3 {
  font-size: 3.75rem;
  margin: 85px auto 0;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 10px 5px;
}

.u-section-2 .u-image-4 {
  height: 360px;
  left: auto;
  top: 0;
  width: 360px;
  margin-top: 0;
  right: auto;
}

.u-section-2 .u-text-4 {
  font-size: 3.75rem;
  margin: 85px auto 0;
}

.u-section-2 .u-list-item-5 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 10px 5px;
}

.u-section-2 .u-image-5 {
  height: 360px;
  left: auto;
  top: 0;
  width: 360px;
  margin-top: 0;
  right: auto;
}

.u-section-2 .u-text-5 {
  font-size: 3.75rem;
  margin: 85px auto 0;
}

.u-section-2 .u-list-item-6 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 10px 5px;
}

.u-section-2 .u-image-6 {
  height: 360px;
  left: auto;
  top: 0;
  width: 360px;
  margin-top: 0;
  right: auto;
}

.u-section-2 .u-text-6 {
  font-size: 3.75rem;
  margin: 85px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 500px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 698px;
  }

  .u-section-2 .u-list-item-1 {
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-image-1 {
    margin-top: initial;
    width: auto;
    height: auto;
  }

  .u-section-2 .u-list-item-2 {
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-image-2 {
    margin-top: initial;
    width: auto;
    height: auto;
  }

  .u-section-2 .u-list-item-3 {
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-image-3 {
    margin-top: initial;
    width: auto;
    height: auto;
  }

  .u-section-2 .u-list-item-4 {
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-image-4 {
    margin-top: initial;
    width: auto;
    height: auto;
  }

  .u-section-2 .u-list-item-5 {
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-image-5 {
    margin-top: initial;
    width: auto;
    height: auto;
  }

  .u-section-2 .u-list-item-6 {
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-image-6 {
    margin-top: initial;
    width: auto;
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 66px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 374px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 1203px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 681px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 451px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1090px;
}