@charset "UTF-8";

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("https://images.unsplash.com/photo-1544640808-32ca72ac7f37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80") no-repeat center center fixed;
    background-size: cover;
    filter: brightness(70%) blur(8px);
    z-index: -1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.form-container {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 100%;
    opacity: 1;
    transition: opacity 0.3s;
    animation: fade-in 0.5s;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateX(-10%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.registration-form-container {
    opacity: 0;
}

.hidden {
    display: none;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background: #f7f7f7;
}

/* Custom styles */
.btn-primary {
    background-color: #FF6B6B;
    border-color: #FF6B6B;
    color: #fff;
}

.btn-primary:hover {
    background-color: #FF4949;
    border-color: #FF4949;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 107, 107, 0.5);
}

.toggleLink {
    cursor: pointer;
}

#errorMessageContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ff6961;
    color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

@media only screen and (max-width: 500px) {
    .form-container {
        padding: 20px;
    }
}